<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Complaint Status</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-body" *ngFor="let complaint of complaintHistory">
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Complaint Status</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ complaint.complaintStatus }}
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Date</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ complaint.modifiedStatus }}
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Worker Assigned</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ complaint.workerAssigned }}
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Worker Mobile Number</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{
                      complaint.workerMobileNo
                        ? complaint.workerMobileNo
                        : "Not Assigned"
                    }}
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<a class="link-danger" (click)="open(content)" style="cursor: pointer"
  >Complaint History</a
>
