<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Complaint Status</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Worker Assigned</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of complaintHistory;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{history.workerAssigned}}</td>
            <td>{{history.workerMobileNo}}</td>
            <td>{{history.complaintStatus}}</td>
            <td>{{history.modifiedStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<a class="link-danger" (click)="open(content)" style="cursor: pointer"
  >Complaint History</a
>
