<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Complaint Status</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="container mx-auto my-2 p-2 text-center" style="border:1px solid red;color:red;font-weight:600;" *ngIf="complaintHistory[0].complaintStatus==='CLOSED'">Complaint Closed</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Worker Assigned</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let history of complaintHistory;let i=index">
            <td *ngIf="history.complaintStatus!=='CLOSED'">{{history.workerAssigned}}</td>
            <td *ngIf="history.complaintStatus!=='CLOSED'">{{history.workerMobileNo}}</td>
            <td *ngIf="history.complaintStatus!=='CLOSED'">{{history.complaintStatus}}</td>
            <td *ngIf="history.complaintStatus!=='CLOSED'">{{history.modifiedStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<a class="link-danger" (click)="open(content)" style="cursor: pointer"
  >Complaint History</a
>
