<div class="menu-wrapper">
    <ul class="list-group">
        <div class="header list-group-item">
            <div class="logo">
                <a href="#">
                    <img src="https://www.societycity.in/images_tem/logo.png" 
                    alt="Society" class="logo-img">
                </a>
            </div>
            <div class="header-text">
                <p class="logo-text">DummyText</p>
            </div>
        </div>
        <li class="list-group-item links">Item 1</li>
        <li class="list-group-item links">Item 2</li>
        <li class="list-group-item links">Item 3</li>
        <li class="list-group-item links">Item 4</li>
        <li class="list-group-item links">Item 5</li>
        <li class="list-group-item links">Item 6</li>
    </ul>
</div>
