<router-outlet></router-outlet>
<table class="table" *ngIf="activeRoute.children.length===0" style="margin-top: 15px;">
  
  <thead>
    <tr>
      <th scope="col">Serial No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email-ID</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    
    <tr *ngFor="let user of users ; let i=index">

      <th scope="row">{{i+1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td >{{user.phoneNumber}}</td>
      <td>{{user.emailId ? user.emailId : "-"}}</td>
      <td><a class="link-danger" [routerLink]="['flat_details']" (click)="setUserId(user.userDetailId)">Flat Details</a></td>
      <td><a [routerLink]="['role']" class="link-danger" (click)="saveUserId(user.userDetailId)">Role</a></td>
      <td><app-edit-user-modal [userId]="user.userDetailId" (reloadPage)="onUpdateUser($event)"></app-edit-user-modal></td>
      <td><a class="link-danger" (click)="setUserInactive(user.userDetailId)" [routerLink]="[]">{{user.isDeleted ? 'Set Active' : 'Set Inactive'}}</a></td>
      
    </tr>

  </tbody>

 </table>

<div class="row" *ngIf="activeRoute.children.length===0" style="float: right;">
  <button class="btn btn-danger" [routerLink]="['new_user']">Add</button>
</div>





