<div class="container" style="margin-top: 10px;">

    <form (ngSubmit)="onRoleCreate()" #roleCreateForm="ngForm">
        <div class="row">
            <div class="col-md-6 mb-4 pb-6">
                <input type="text" class="form-control" ngModel id="newRole" name="newRole" required
                    placeholder="Enter the role you wish to create">
            </div>
            <div class="col-md-6 mb-4 pb-4">
                <button type="submit" class="btn btn-danger" [disabled]="!roleCreateForm.valid">Create Role</button>
            </div>
        </div>
    </form>

    <form (ngSubmit)="onRoleDelete()" #roleDeleteForm="ngForm">
        <div class="row">
            <div class="col-md-6 mb-4 pb-6">
                <input type="text" class="form-control" ngModel name="deleteRole" required
                    placeholder="Enter the role you wish to delete">
            </div>
            <div class="col-md-6 mb-4 pb-4">
                <button type="submit" class="btn btn-danger" [disabled]="!roleDeleteForm.valid">Delete Role</button>
            </div>
        </div>
    </form>

    <form (ngSubmit)="onRoleUpdate()" #roleUpdateForm="ngForm">
        <div class="row">

            <div class="col-md-2 mb-4 pb-6">
                <input type="text" class="form-control" ngModel name="userIdforRoleUpdation" required
                    placeholder="User-Id">
            </div>  

            <div class="col-md-2 mb-4 pb-6">
                <input type="text" class="form-control" ngModel name="oldRole" required
                    placeholder="Old Role">
            </div>        

            <div class="col-md-2 mb-4 pb-4">
                <input type="text" class="form-control" ngModel name="newRole" required
                    placeholder="New role">
            </div>

            <div class="col-md-3 mb-4 pb-4">
                <button type="submit" class="btn btn-danger" [disabled]="!roleUpdateForm.valid">Update Role</button>
            </div>

        </div>
    </form>
</div>