<div class="container tower-wrapper" *ngIf="route.children.length === 0">
  <div class="tower-header">
    <div class="back-button">
      <app-back-btn></app-back-btn>
    </div>
    <div class="header-text">
      <h3>{{towerName}}</h3>
    </div>
  </div>
  <div class="flat-list">
    <ul class="list-group list-items mx-auto mt-1">
      <div class="list-group-item container mt-2" *ngFor="let flat of flats">
        <div class="row">
          <div class="col-9 text"><p>Flat No: {{flat.flatNo}}</p></div>
          <div class="col-3 btns d-flex justify-content-between">
            <button class="btn btn-sm btn-success"><mat-icon>exit_to_app</mat-icon></button>
            <app-edit-tower></app-edit-tower>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="btn-wrapper">
    <app-flatmodals (reloadPage)="reload()"></app-flatmodals>
  </div>
</div>
<div class="flat-section container">
  <router-outlet></router-outlet>
</div>
