<div class="menu-wrapper">
    <ul class="list-group">
        <div class="header list-group-item">
            <div class="logo">
                <a href="#">
                    <img src="https://www.societycity.in/images_tem/logo.png" 
                    alt="Society" class="logo-img">
                </a>
            </div>
            <div class="header-text">
                <p class="logo-text">DummyText</p>
            </div>
        </div>
        <!-- <a *ngFor="let component of components" [routerLink]="['component.url']">
            <li class="list-group-items links" routerLinkActive="activeLink">{{component.name}}</li>
        </a> -->
        <a [routerLink]="['configuration']">
            <li class="list-group-items links" routerLinkActive="activelink" >Configuration</li>
        </a><a [routerLink]="['dummy']">
            <li class="list-group-items links" routerLinkActive="activelink">Dummy</li>
        </a><a href="#">
            <li class="list-group-items links" routerLinkActive="activelink">Item3</li>
        </a><a href="#">
            <li class="list-group-items links" routerLinkActive="activelink">Item4</li>
        </a><a href="#">
            <li class="list-group-items links" routerLinkActive="activelink">Item5</li>
        </a><a href="#">
            <li class="list-group-items links" routerLinkActive="activelink">Item6</li>
        </a>
    </ul>
</div>
