.dashboard-wrapper{
    margin-left:300px;
    margin-top:10px;
    
}
.dashboard-header{
    margin-top:50px;
    padding-left:10px;
}
.dashboard-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(42, 11, 42);
    font-weight:500;
}
