<table class="table" style="margin-top: 15px;">

    <thead>
        <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Tower Name</th>
            <th scope="col">Flat Number</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        <!-- <tr *ngFor="let role of roleArray ; let i=index">

            <th scope="row">{{role.roleId}}</th>
            <td>{{role.roleType}}</td>
            <td>{{role.role}}</td>
            <td>{{role.roleDescription}}</td>
            <td>
                <app-role-modal [roleIdForEdit]="role.roleId" [id]="userDetailId"></app-role-modal>
            </td>
            <td>
                <a [routerLink]="[]" class="link-danger" (click)="deleteRoleOnClick(role.roleId)">Delete Role</a>
            </td>
        </tr> -->

    </tbody>

</table>

<!-- <div class="row">
    <div class="col-md-2 offset-11">
        <app-new-role-modal [userIdForRoleAddition]="userDetailId"></app-new-role-modal>
    </div>
</div> -->
