<table class="table" style="margin-top: 15px;">

    <thead>
        <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Tower Name</th>
            <th scope="col">Flat Number</th>
            <th scope="col">Owner</th>
            <th scope="col">Tenant</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let details of flatsOfAUser ; let i=index">

            <th scope="row">{{i+1}}</th>
            <td>{{details.towerName}}</td>
            <td>{{details.flatNo}}</td>
            <td>{{details.isOwner ? 'Yes' : 'No'}}</td>
            <td>{{details.isTenant ? 'Yes' : 'No'}}</td>
            <td>
                <app-flat-edit-modal [flatResId]="details.flatResId"></app-flat-edit-modal>
            </td>
            <td>
                <a [routerLink]="[]" class="link-danger" (click)="deleteFlatOnClick(details.flatResId)">Delete Flat</a>
            </td>
        </tr>

    </tbody>

</table>

<div class="row">
    <div class="col-md-2 offset-11">
        <app-new-flat-modal [userId]="userDetailId"></app-new-flat-modal>
    </div>
</div>
