<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Edit Notice</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="mx-auto p-3">
      <div class="form-group">
        <label for="notice-title">Enter Title</label>
        <input
          type="text"
          name="noticeTitle"
          class="form-control"
          id="notice-title"
          [(ngModel)]="notice.noticeTitle"
        />
      </div>
      <div class="form-group">
        <label for="notice-details">Enter Details</label>
        <textarea
          name="noticeDetail"
          id="notice-details"
          cols="50"
          rows="10"
          class="form-control mt-2"
          [(ngModel)]="notice.noticeDetail"
        ></textarea>
      </div>
      <button type="submit" class="mt-3 btn btn-danger" (click)="onClick(modal)">
        Save
      </button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<p class="btn-link" (click)="open(content)">Edit</p>
