<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Forgot Password</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
        <div class="mb-3">
            <label for="email">Email-Id</label>
            <div class="input-group">
                <input id="email" class="form-control" required [(ngModel)]="emailId">
            </div>
        </div>
        
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div class="justify-content-start">
            <div class="alert-success" *ngIf="successMessage">
                <h3>OTP sent successfully!!!</h3>
            </div>
            <div class="alert-danger" *ngIf="errorMessage">
                <h3>Invalid Email-Id!!!</h3>
            </div>
        </div>
        <div class="justify-content-end">
            <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')" (click)="onClick()"
                [disabled]="!emailId">Send Link</button>
        </div>
    </div>
</ng-template>

<a [routerLink]="[]" class="link-danger" (click)="open(content)">Forgot password</a>