<ng-template #content let-modal>
    <div class="modal-header" style="text-align:center;">
      <h2 class="modal-title" id="modal-basic-title">Forgot Password</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      
        <div class="mb-3">
          <label for="email" class="form-label">Enter your Email-ID</label>
          <div class="input-group">
            <input type="text" email required class="form-control" [(ngModel)]="emailId">
          </div>
        </div>
      
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <p *ngIf="!linkSent">Password reset link sent to Email-Id</p>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Submit</button>
    </div>
  </ng-template>
  
  <a [routerLink]="[]" (click)="open(content)" style="float:right" class="link-danger">Forgot Password</a>
  
  

