<div class="container" *ngIf="route.children.length === 0">
  <div class="towerlist-header">
    <app-back-btn></app-back-btn>
    <div class="header-text">
      <h3>{{ societyName }}</h3>
    </div>
  </div>
  <div class="towerlist mt-2">
    <ul class="list-group list-items mx-auto mt-1">
      <div class="list-group-item container mt-2" *ngFor="let tower of towers">
        <div class="row">
          <div class="col-9 text"><p>{{tower.towerName}}</p></div>
          <div class="col-3 btns d-flex justify-content-between">
            <button class="btn btn-sm btn-success" (click)="navigateIn(tower.towerId)"><mat-icon>exit_to_app</mat-icon></button>
            <app-edit-tower [towerId]="tower.towerId" (reloadPage)="reload()"></app-edit-tower>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div class="btn-wrapper">
    <app-add-tower (reloadPage)="reload()"></app-add-tower>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
