<div class="container" *ngIf="route.children.length === 0">
  <div class="towerlist-header">
    <div class="back-button">
      <a class="back-btn" [routerLink]="['/dashboard/configuration/society']"
        >&larr;</a
      >
    </div>
    <div class="header-text">
      <h3>{{ societyName }}</h3>
    </div>
  </div>
  <div class="towerlist row">
    <div class="tower-card-wrapper" *ngFor="let tower of towers">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ tower.towerName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ tower.towerAddress }}
          </h6>
          <p class="card-text">Some Very Different Name</p>
          <div class="card-btns">
            <a [routerLink]="['tower', tower.towerId]" class="card-link"
              >Enter</a
            >
            <app-edit-tower [towerId]="tower.towerId"></app-edit-tower>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrapper">
    <app-add-tower></app-add-tower>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
