<div class="container" *ngIf="route.children.length===0">
  <app-back-btn></app-back-btn>
  <div class="card w-90 mx-auto tower">
    <div class="card-header d-flex justify-content-between">
      <div class="header-text">
        <h2>Society:{{societyName}}</h2>
      </div>
      <div class="search-box">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search here..."
          />
          <div class="input-group-append">
            <span class="input-group-text"><mat-icon>search</mat-icon></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body w-75 mx-auto">
      <ul class="list-group" *ngFor="let tower of towers">
        <div class="list-group-item d-flex align-items-center justify-content-between">
          <div class="towerName mt-2">
            <p>{{tower.towerName}}</p>
          </div>
          <div class="tower-btns mb-1">
            <a class="card-link" [routerLink]="['tower',tower.towerId]">Enter</a>
            <app-edit-tower [towerId]="tower.towerId"></app-edit-tower>
          </div>
        </div>
      </ul>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <app-add-tower (reloadPage)="reload()"></app-add-tower>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
