<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- <form style="margin-top: 15px;" (ngSubmit)="onFormSubmit(f)" #f="ngForm"> -->

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label" for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            [(ngModel)]="defaultUser.firstName"
            name="firstName"
            required
          />
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label class="form-label" for="lastName">Last Name</label>
        <div class="form-outline">
          <input
            type="text"
            id="lastName"
            class="form-control"
            [(ngModel)]="defaultUser.lastName"
            name="lastName"
            ngModel
          />
        </div>
      </div>
    </div>

    <div class="row">
      <!-- <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                        <label class="form-label" for="emailAddress">Email-ID</label>
                        <input type="email" id="emailAddress" class="form-control" name="emailId" email
                            #emailId="ngModel" [(ngModel)]="defaultUser.emailId"/>
                        <span class="help-block" *ngIf="!emailId.valid && emailId.touched">Please enter a valid email
                            address</span>
                    </div>

                </div> -->
      <div class="col-md-6 mb-4 pb-2">
        <div class="form-outline">
          <label class="form-label" for="phoneNumber">Phone Number</label>
          <input
            type="text"
            id="phoneNumber"
            class="form-control"
            required
            ngModel
            name="phoneNumber"
            pattern="^(0|\+?[1-9]\d*)$"
            #phoneNumber="ngModel"
            minlength="10"
            maxlength="10"
            [(ngModel)]="defaultUser.phoneNumber"
          />
          <span
            class="help-block"
            *ngIf="!phoneNumber.valid && phoneNumber.touched"
            >Please enter a valid phone number</span
          >
        </div>
      </div>

      <div class="mt-4 pt-2">
        <button
          type="button"
          class="btn btn-danger"
          [disabled]="!defaultUser"
          (click)="onClick()"
          (click)="modal.dismiss('Cross click')"
        >
          Update user
        </button>
      </div>
    </div>

    <!-- </form> -->
  </div>
</ng-template>

<a class="link-danger" [routerLink]="[]" (click)="open(content)">Edit User</a>
