.configuration{
    margin-top:16px;
    width: 100%;
}
.container {
    margin-left: 10px;
}
.container h2{
    color:rgb(36, 16, 54);
    font-weight:600;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li.active>a{
    color:red !important;
}