<div class="container configuration mx-auto">
  <h2>Configuration</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['society']"
        [routerLinkActive]="['active']"
        >Society</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['user']"
        [routerLinkActive]="['active']"
        >User</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['menu']"
        [routerLinkActive]="['active']"
        >Menu</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
