<div class="card" style="width:18rem;">
    <div class="card-body">
        <div class="profile-img">
            <div class="image">
                <img src="../../../../assets/images/login_image.png" alt="">
            </div>
        </div>
        <div class="profile-info">
            <p class="text-center">{{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>
        <div class="profile-link">
            <a class="text-center" [routerLink]="['../profile']">Look at your Profile</a>
        </div>
    </div>

</div>
