<div class="container" *ngIf="activeRoute.children.length === 0">
  <app-back-btn></app-back-btn>
  <div class="card w-90 mx-auto flats">
    <div class="card-header d-flex justify-content-between">
      <div class="header-text">
        <h2>Flat Details</h2>
      </div>
      <div class="search-box">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search here..."
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>search</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body w-75 mx-auto">
      <table class="table" style="margin-top: 15px">
        <thead>
          <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">Tower Name</th>
            <th scope="col">Flat Number</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let flat of flatsOfAUser; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ flat.towerName }}</td>
            <td>{{ flat.flatNo }}</td>
            <td>
              <a
                class="link-danger"
                [routerLink]="['user_complaints', flat.flatId]"
                (click)="setFlatId(flat.flatId)"
                >Complaint List</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
