<div class="container society">
  <div class="society-header" *ngIf="route.children.length === 0">
      <div class="back-button">
          <a class="back-btn" [routerLink]="['/dashboard/configuration']">&larr;</a>
      </div>
      <div class="header-text">
          <h3>Society</h3>
      </div>
  </div>
  <div class="card" style="width: 18rem;" *ngIf="route.children.length === 0">
      <div class="card-body">
        <h5 class="card-title">Society Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Society Address</h6>
        <p class="card-text">Small Description of Society</p>
        <a [routerLink]="['towerlist']" class="card-link">Enter</a>
      </div>
    </div>
    <router-outlet ></router-outlet>
</div>
