<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Menu Edit</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="menuName">Menu Name</label>
          <input type="text" class="form-control mt-1" name="menuName" [(ngModel)]="menu.menuName">
        </div>
        <div class="form-group">
          <label for="menuName">URL</label>
          <input type="text" class="form-control mt-1" name="url" [(ngModel)]="menu.url">
        </div>
        <button type="submit" class="btn btn-danger mt-2" (click)="onClick()">Edit</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
  <a class="card-link" (click)="open(content)">Edit</a>